
<!-- Side bar with additional features -->

  <!-- extra tabs -->
  <div  class="container verticalLine" >
    <ul class="nav nav-tabs">
      <li class="active">
        <a  href="#toc-tab" data-toggle="tab">Content</a>
      </li>
      <li><a href="#rec-tab" data-toggle="tab">References</a>
      </li>
      <li><a href="#com-tab" data-toggle="tab">Reviewers comments</a>
      </li>
    </ul>

    <!--tabs content -->
    <div class="tab-content ">
      <div class="tab-pane active" id="toc-tab">
        <nav id="toc"  data-toggle="toc"> </nav>
      </div>
      <div class="tab-pane" id="rec-tab">
        References here :)
      </div>
      <div class="tab-pane" id="com-tab">
        Comments
      </div>

    </div>


  </div>
