<!DOCTYPE html>
<html>
<!--custom header -->
{% include head.html %}

<!-- Scroller for TOC-->
<body data-spy="scroll" data-target="#toc">


<!-- Main content needs to be in a wrap for
when the sidebar is displayed-->



<!-- nav bar-->
{% include nav.html %}

<div class='wrap'>
  <div class="container-fluid">
    <div class="row">


      <div class="col-sm-10 ">
        <div class = 'page-header'>
          <h1> {{page.title}} </h1>
        </div>
        <main>
          {{content}}
        </main>
      </div>


    </div>
  </div>
</div>

{% include footer.html %}

</body>


</html>
