<!DOCTYPE html>
<html>
<!--custom header -->
{% include head.html %}

<!-- Scroller for TOC-->
<body data-spy="scroll" data-target="#toc">


<!-- Main content needs to be in a wrap for
when the sidebar is displayed-->

<!-- nav bar-->
{% include nav.html %}

<!-- page header -->
<div class="header">
    <h1 class="header_logo">{{page.title}} </h1>
</div>

  <!-- need an offset-->
  <div class="container offset">
    <div class="row">

      <!-- main content -->
      <div class="col-md-12">
        {{content}}

      <br>
      <a href="{{ site.url }}">
        <i class="fa fa-home" aria-hidden="true"></i>
        Home</a>
      <br>
      </div>

    </div>
  </div>


{% include footer.html %}

</body>


</html>
