<!DOCTYPE html>
<html>
<!--custom header -->
{% include head.html %}

<body>

  <!-- navbar -->
  {% include nav.html %}

  {% include hero_particles.html %}

  <!-- About the journal-->
  <div class="container">

    <div class="divider-new">
      <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">About the journal</h2>
    </div>

    <!--Section: About-->
    <section id="about" class="text-justify wow fadeIn" data-wow-delay="0.2s">
      <p> {% capture my_include %}{% include /md_content/about.md%}{% endcapture %}
        {{ my_include | markdownify}}  </p>
      </section>
      <!--Section: About-->

      <div class="divider-new">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Submitting an entry</h2>
      </div>

    </div>


    <!-- submitting an entry-->
    <div class='container'>
      <!-- about the submission process -->
      <div class='row'>
        <div class='container col-sm-6'>
          <h3 class = 'h3-responsive text-center'> About the submission process </h3>
          <p class="text-justify">{% capture text %}
            {% include /md_content/submission.md%}{% endcapture %}
            {{ text | markdownify}} </p>
          </div>
          <!--process explained -->

          <div class='container col-sm-6'>
            <h3 class = 'h3-responsive text-center'> Submissions explained</h3>

            <div class="panel-group" id="accordion">
              <!--- panel start-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a  data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                      First steps
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    {% capture text %}{% include /md_content/first_steps.md%}{% endcapture %}
                    {{ text | markdownify}}
                    </div>
                  </div>
                </div>
                <!-- panel end-->

                <!--- panel start-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a  data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                        Files to submit
                      </a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      {% capture text %}{% include /md_content/files_inc.md%}{% endcapture %}
                      {{ text | markdownify}}
                    </div>
                  </div>
                </div>
                <!-- panel end-->

                <!--- panel start-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a  data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                        Notebook content
                      </a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse ">
                    <div class="panel-body">
                      {% capture text %}{% include /md_content/nb_cont.md %}{% endcapture %}
                      {{text | markdownify}}
                    </div>
                  </div>
                </div>
                <!-- panel end-->
                <!--- panel start-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a  data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                        Your data
                      </a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                      {% capture text %}{% include /md_content/data_cont.md %}{% endcapture %}
                      {{text | markdownify}}
                    </div>
                  </div>
                </div>
                <!-- panel end-->

              </div>
            </div>
          </div>
        </div>

        {% include footer.html%}

      </body>
      </html>
