<!DOCTYPE html>
<html>
<!--custom header -->
{% include head.html %}

<!-- scroller for TOC-->
<body data-spy="scroll" data-target="#toc">


  <!--main content needs to be in a wrap for
  when the sidebar is displayed-->
  <div class='wrap'>

    <!-- navbar -->
    {% include nav.html %}
    <div class="header">
      <h1 class="header_logo">{{page.title}}</h1>
    </div>
  </div>

  <div class='wrap'>
    <div class="container offset">
      <div class="row">

        <!--- Main content--->
        <div class="col-sm-9">
          <main>
            {{content}}
          </main>
        </div>


        <!-- Side bar with additional features -->
        <div class="col-sm-2 col-xs-9 col-md-3 col-lg-3">

          <!-- extra tabs -->
            <div id="articleTabs" class="container" data-spy='affix'>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a  href="#toc-tab" data-toggle="tab">Contents</a>
                </li>
                <li><a href="#rec-tab" data-toggle="tab">References</a>
                </li>
                <li><a href="#com-tab" data-toggle="tab">Comments</a>
                </li>
              </ul>

              <!--tabs content -->
              <div class="tab-content ">
                    <div class="tab-pane active" id="toc-tab">
                      <nav id="toc"  data-toggle="toc"></nav>
                    </div>
                    <div class="tab-pane" id="rec-tab">
                      References here
                    </div>
                    <div class="tab-pane" id="com-tab">
                      Reviewers comment
                    </div>
                  </div>


              </div>

        </div>


        </div>
      </div>
    </div>



  </body>


  </html>
