<!DOCTYPE html>
<html>
<!--custom header -->
{% include head.html %}

<!-- scroller for TOC-->
<body data-spy="scroll" data-target="#toc">


  <!--main content needs to be in a wrap for
  when the sidebar is displayed-->
  <div class='wrap'>

    <!-- navbar -->
    {% include nav.html %}

    {% include tools.html %}
  </div>

  <div class='wrap'>
    <div class="container offset_nb">
      <div class="row">

        <!--- Main content--->
        <div class="col-sm-9 col-lg-9 ">
          <main>
            {{content}}
          </main>
        </div>

        <div class="col-sm-3 well well2">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>


{% include footer.html %}

  </body>


  </html>
