

/*** Floating button ***/
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:20px;
	right:40px;
	background-color: $primary;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  font-size: 1.25em;
  &:hover{
    background-color: lighten($primary, 5%);
  }
}

a.float:hover,
a.float:focus {
  text-decoration: underline;
  color: $white;
}

.my-float{
	margin-top:16px;
}


.label-container{
	position:fixed;
	bottom:22px;
	right:100px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}


/*** Go to top button ***/
#gotop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 5px 10px;
    font-size: 1.0em;
    background: $primary;
    color: white;
		cursor: pointer;
		border-radius: 5px;
    border:2px solid white;
		&:hover {
      background-color: white;
      color: $primary-light;
      border:2px solid $primary-light;}
}


/*** primary outline button ***/
.btn-outline-primary {
  border: 2px solid $primary-light;
  color: $white !important;
  background-color: $primary-light;
	border-radius: 30px;
	padding: 0.2em, 0.2em;
	font-family: $title-font;
	font-size: 0.85em;
	line-height: 1em;
	}
.btn-outline-primary:hover, .btn-outline-primary:focus,
.btn-outline-primary:active, .btn-outline-primary:active:focus {
  color: $primary-light !important;
  border-color: $primary-light;
  background-color: transparent;}

.btn-icon{}

.btn-icon:before{
	opacity: 0.35;
	position: relative;
	top: 0.05em;
	padding-right:1.2em;
}
