
 html body{
     height: 100%;
 }


/*** navigation bar**/
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar{
  border-radius: 0;
  margin-bottom: 10px;;
  background-color: $primary;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $secondary;
  background-color: rgba(255,255,255,.1);
  font-weight: 400;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $secondary;
  background-color: transparent;
}
