/*** tabs  **/

.nav-tabs {
  border-bottom: 2px solid #ddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active >
a:focus, .nav-tabs > li.active > a:hover{
  border-width: 0;
}

.nav-tabs > li > a {
  border: none; color: #666;
  font-size: 1.2em;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #4285F4 !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #4285F4;
  height: 2px; position: absolute;
  width: 100%; left: 0px; bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 15px 0;
}
.tab-content{
  padding:10px;
}


@media (max-width: 768px) {
    .affix {
        position: static;
    }
}

.verticalLine {
  border-left: 2px solid #ddd;
  height: 80vh;
  opacity: 0.99;
  padding: 0 ;
  margin: 0;
  &.fix-tabs{
    position: fixed;
    top: 120px;
  }
}

/*** images ***/
img{
  width: 100%;
  height: auto;
}

/*** Tables ***/
table{
  width: 100%;
  display: block;
  margin-bottom: 2em;
}

tr{
  line-height: 1.75em;
}
td{
  padding-left: 0.5em;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $gray-lighter;
}


/**** sticky toolbar ***/
.header.nb {
  position: relative;
  width: 100%;
  height: 200px;
  &.fix-top{
    background: transparent;
    &.offset_nb{
      padding-top: 100px;
    }
  }
}

.author {
  font-family: $title-font;
  font-style: italic;
  margin: 0;
  font-size: 1.4em;
  transition: .3s;
  color: $white;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  display: inline-block;
}

.offset_nb {
  margin-top: 0;
  padding-top: 60px;
  transition: .3s;
}

.menu {
    position:absolute;
    top: 200px;
    background: lighten($gray-darker, 5%);
    font-family: $title-font;
    height: 50px;
    width: 100%;
    border-bottom: solid 1px #ddd;
    z-index:1;
    &.fix-top{
      position: fixed;
      top: 60px;
    }
}

.menu-title{
  float: left;
  padding: 19.5px 15px;
  font-size: 1em;
  line-height: 16px;
  color: $white;
  text-transform:uppercase;
}



.menu-icon{
  color: $white;
  vertical-align: middle;
  float: left;
  font-size: 1.5em;
  line-height: 30px;
  &.hover{
    background-color: inherit;
  }
}

.menu .navbar-nav > li > a:hover,
.menu .navbar-nav > li > a:focus {
  background-color: rgba(255,255,255,.1);
}
@media (min-width: 768px) {
  .menu-left {
    float: left !important;
  }
  .menu-right {
    float: right !important;
    margin-right: 30px;
  }
  .menu-right ~ .menu-right {
    margin-right: 0;
  }
}
